.projects {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
	--text-color: slategray;
	--bgColorDarker: #ececec;
	--bgColorLighter: #fcfcfc;
	--insideBorderColor: lightgray;
  --primaryColor: #7A4EBB;
  --secondaryColor: #9674c9;
}

.page-title {
  color: var(--primaryColor);
  font-size: 2.5rem; 
  text-transform: uppercase;
}

.project-cards {
  display: flex;
}

.newproj-modal {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  width: fit-content;
  height: fit-content;
}

.newproj-modal input, select {
  border-radius: 5px;
  outline: 0;
  width: 100%;
  border: 1px solid lightgrey;
  margin: 0 0 15px;
  padding: 15px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.newproj-modal button {
  width: 100%;
}