.project-card {
  --backgrounColor: #9674c9;
	background-color: rgb(245, 241, 241);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
	overflow: hidden;
	width: 600px;
}

/* .project-card:hover {
  --backgrounColor: #7A4EBB;
  background-color: rgb(238, 232, 232);
} */

.project-card h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.project-card h3 {
	letter-spacing: 1px;
	margin: 0px 0;
  text-transform: uppercase;
}

.project-card-preview {
	background-color: var(--backgrounColor);
	color: #fff;
	padding: 30px;
	width: 250px;
}

.project-card-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.project-card-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.main-info {
  color: black;
  margin-top: 50px;
  text-transform: none !important;
}

.buttons-section {
	text-align: right;
}
