@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, .rooot, .app {
  padding: 0;
  margin: 0;
  --primaryColor: #7A4EBB;
  --secondaryColor: #9674c9;
}

.container {
  padding: 0;
  margin: 0;
  margin-left: 120px;
  margin-right: 50px;
  transition: all 300ms;
}

.toggled {
  margin-left: 300px;
}

.btn-primary {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--primaryColor);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 1rem;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--secondaryColor);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-primary:active {
  background-color: var(--primaryColor);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}

.btn-danger {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(209, 76, 76);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 1rem;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: rgb(243, 77, 77);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-danger:active {
  background-color: rgb(209, 76, 76);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}


.modal {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--secondaryColor);
  background-color: white;
  padding: 40px;
}

.modal .close-btn {
  position: inherit;
  right: 3%;
  top: 0%;
  cursor: pointer;
  font-size: 2rem;
  color: #7A4EBB;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(124, 124, 124, 0.4);
}