.team {
  --primaryColor: #7A4EBB;
  --secondaryColor: #9674c9;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h1 {
  color: var(--primaryColor);
  font-size: 2.5rem; 
  text-transform: uppercase;
}

.task-modal {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  width: fit-content;
  height: fit-content;
}

.task-modal input, select {
  border-radius: 5px;
  outline: 0;
  width: 100%;
  border: 1px solid lightgrey;
  margin: 0 0 15px;
  padding: 15px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.task-modal textarea {
  border-radius: 5px;
  outline: 0;
  width: 100%;
  height: 150px;
  border: 1px solid lightgrey;
  margin: 0 0 15px;
  padding: 15px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
}

.task-modal button {
  width: 100%;
}

.tasks-section {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-row-gap: 20px;
}

@media (max-width:1700px) {
  .tasks-section {
    grid-template-columns: 320px 320px 320px;
  }

}

@media (max-width:1300px) {
  .tasks-section {
    grid-template-columns: 320px 320px;
  }

}

@media (max-width:950px) {
  .tasks-section {
    grid-template-columns: 320px;
  }

}