.statistics {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chart-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.chart-teams {
  width: 100%;
  margin-bottom: 50px;
}

.chart-teams p{
  text-align: right;
  font-size: 1.5rem;
}

.chart-teams p .danger-text {
  color: red;
  font-weight: bold;
}

@media (max-width:1300px) {
  .chart-row {
    grid-template-columns: 100%;
  }

}