@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");

.project-details {
  --primaryColor: #7A4EBB;
  --secondaryColor: #9674c9;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.project-details h2 {
  color: var(--secondaryColor);
}

.project-title {
  padding: 0;
  margin-bottom: 0;
  color: var(--primaryColor);
  font-size: 3rem;
  text-transform: uppercase;
}

.start-date {
  margin-top: 0;
  font-size: 1rem;
}

.end-date {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1rem;
}

.team-link {
  text-decoration: none;
}

.list-teams {
  display: flex;
}

.team-card {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  background-color: rgb(245, 241, 241);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-top: 3px solid var(--secondaryColor);
  padding: 20px;
  min-width: 300px;
  margin-right: 50px;
}

.team-card h2 {
  text-align: left;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  color: black;
}

.team-modal{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  height: fit-content;
  width: fit-content;
}

.team-modal h3{
  color: black;
}

.team-modal form {
  display: flex;
}

.team-modal input {
  border-radius: 5px;
  outline: 0;
  width: 100%;
  border: 1px solid lightgrey;
  margin: 0 0 15px;
  padding: 15px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.team-modal button {
  margin-top: 0;
  height: 15px;
}

.delete-section{
  text-align: right;
}

.occurrence-details-modal{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  height: fit-content;
  width: fit-content;
}

.occurrence-details-modal textarea {
  border-radius: 5px;
  outline: 0;
  width: 400px;
  height: 200px;
  border: 1px solid lightgrey;
  margin: 0 0 15px;
  padding: 15px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
}

.occurrences-table {
  margin-bottom: 50px;
}