.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
	--text-color: slategray;
	--bgColorDarker: #ececec;
	--bgColorLighter: #fcfcfc;
	--insideBorderColor: lightgray;
  --primaryColor: #7A4EBB;
  --secondaryColor: #9674c9;
}

.page-title {
  color: var(--primaryColor);
  font-size: 2.5rem; 
  text-transform: uppercase;
}

.side-button {
  position: relative;
  left: 80.5%;
}

table {
	width: 90%;
	margin: 0;
	padding: 0;
  margin-top: 1rem;
	border: 1px solid var(--secondaryColor);
	border-collapse: collapse;
	color: var(--text-color);
	table-layout: fixed;
}

table caption {
	margin: 1rem 0;
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.055rem;
	text-align: center;
}

table thead tr {
	color: whitesmoke;
	background-color: var(--secondaryColor);
	font-size: 1rem;
  font-weight: bold;
}

table tbody tr {
	border: 1px solid var(--insideBorderColor);
	background-color: var(--bgColorDarker);
}

table tbody tr:nth-child(odd) {
	background-color: var(--bgColorLighter);
}

table th {
	letter-spacing: 0.075rem;
}

table th,
table td {
	padding: 0.75rem 1rem;
	font-weight: normal;
	text-align: left;
}

table th:nth-child(4),
table td:nth-child(4) {
	text-align: right;
}
